body {
    background-image:url('water-background.jpg');
    background-size:cover;
    background-attachment: fixed;
}

p,p2,h1 {
    position:relative;
    text-align:center;
    width:fit-content;
    background-color:aliceblue;
}

img {
    width:700px;
    height:500px;
}